# Application
#web/app/plugins/*
web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentytwo/
web/app/upgrade
#web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*
web/app/plugins/wp-api-swaggerui
web/app/plugins/fakerpress
web/app/plugins/view-admin-as
web/app/plugins/jwt-authentication-for-wp-rest-api
# WordPress
web/wp
web/wp-config.php
#web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
